#river-table li {
    display:flex;
    list-style: none;
}
#river-table div{
    margin:10px;
}
table{
    border:2px solid black;
    border-collapse:collapse;
}

li:nth-child(odd){
    background-color: lightblue;
}
#header-container img{
    height:80px;
    width:80px;
    background-color:red;
}
#header-container header{
    display:flex;
    background-color: lightseagreen;
    flex-direction:row;
}
#header-container h1{
    flex-grow:1;
}

.favorite-star{
    user-select: none;
    cursor: pointer;
}