html{
    box-sizing: border-box;
}

a{
    color:pink;
    text-decoration: none;
}

body{
    min-height: 100vh;
    box-sizing: border-box;
    background-color: #424040;
    color:white;
    margin:0;
    padding:0;
}


header{
    display:flex;
    flex-grow:1;
    justify-content: center;
    align-items: center;
}

.profile button{
    margin-right:10px;
}


ul{
    list-style: none;
    padding:0;
}

#river-table li {
    border-top: 1px solid white;
    display:flex;   
}

#river-table li:last-child{
    border-bottom: 1px solid white;
}

#river-table div{
    margin:10px;
}
table{
    border:2px solid black;
    border-collapse:collapse;
}

li{
    
    letter-spacing: 1.2;
    font-family: sans-serif;
}


#header-container{
    height: 100px;
    display: flex;
    background: url('../data/bg.jpg');
}


#header-container header{
    display:flex;

    flex-direction:row;
}
#header-container h1{
    flex-grow: 1;
    margin-left: 20px;
    font-size: 70px;
}
#header-container .user{
    text-transform: uppercase;
}

.favorite-star{
    user-select: none;
    cursor: pointer;
}
#favorites-ul{
    color:white;
  
}

#favorites-ul li{
    display:flex;
    margin:20px;
    font-size:15px;
}
#favorites-ul span{
    flex-grow:1;
}
#favorites-ul .live{
    background-color: lime;

}
#fave-rivers{
    display:flex;
    flex-direction:column;
    align-items:center;
 
    color:white;

}

.live-data-btn{
    color:#252D2F;
    border: 1px solid black;
    border-radius: 5px;
    font-size:14px;
    margin-right:20px;
    background-color: #d13e41;
    cursor: pointer;
}

#data-table{
    display:flex;
}
#results{
 
    flex-grow:3;
    display:flex;
    flex-direction:column;
    align-items:flex-start;
}

#search-params{
    display:flex;
    flex-direction: column;
    align-items: center;
  

 
}


.top-form{
    flex-grow:1;
    text-align:center;
}
#live-data{
    display:flex;
    flex-direction:column;
    align-items:center;
}


#main {
display: flex;
background: url('../data/cobble2.jpg');
background-size: cover;
background-repeat: no-repeat;



min-height: calc(100vh - 175px);
}
 #side-bar{
     box-sizing: border-box;

     display: flex;
     justify-content: space-around;
     flex-direction: column;
     min-width: 150px;   
     border-right:1px solid lightgrey; 
 }

#side-bar div{
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#side-bar div:hover{
    color:gold;
}

#side-bar i{
    display:flex;
    color:white;
    font-size:40px

}

 #find-a-river{
    padding-left: 30px;
    display: flex;
    flex-direction: column;  
 
}

#find-a-river h2{
    align-self: center;
}

#find-a-river form{
    align-self:center;
}

#main .hidden{
    display: none;
}

#site-id{
    box-sizing: border-box;
    border-radius: 10px 0 0 10px;
    padding-left: 10px;
    outline: none;
    border: none;
    margin: 0;
    height: 40px;

}

#submit-site-id {
    width: 60px;
    box-sizing: border-box;
    position: relative;
    border-radius: 0 10px 10px 0;
    outline: none;  
    border: none;
    cursor: pointer;
    background: #ffc104;
    left: -5px;
    height: 40px;
}

#container{
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    padding-right: 20px;
}

fieldset{
    margin-top: 40px;
    margin-bottom: 30px;
    width: fit-content;
    align-self: center;
    padding: 27px 40px 40px 40px;
    border: 2px solid white;
    border-radius: 5px;

}
footer{
    color:white;
    background-color: darkslategrey;
    height:75px;
    display:flex;
    align-self: center;
    background: url('../data/bg.jpg'); 
    align-items: center;
    padding:10px;
}





footer img{
 
    width:50px;
    height:50px;
    align-self: center;
    margin-bottom:10px;
}

footer p{
    font-size:12px;
    margin:0;
}



footer div{
    margin-left: auto;
    display:flex;
    flex-direction:column;
}
